body {
    background-image: url("bg.PNG");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #ffe5ec;
    width: 30%;
    border: 5px #FFB3C6 solid;
    border-radius: 30px;
    box-shadow: 10px 10px #FFB3C6;
    
}

.seungkwan {
    height: 117px;
    width: 112px;
    border-radius: 50%;
    border: #FFB3C6 solid;
}

.lemon {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
    color: #FB6F92;
}

.intro {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #FB6F92;
    font-size: 16px;
}

.list {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #FB6F92;
    font-size: 12px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ffe5ec;
    width: 30%;
    margin-top: 20px;
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background-color: #ffe5ec;
    width: 105%;
    border: 3px #FFB3C6 solid;
    border-radius: 10px;
    box-shadow: 5px 5px #FFB3C6;
    text-align: center;
    font-family: "Lemon", serif;
    text-decoration: none;
    color: #FB6F92;
    margin: 10px 2px;
    cursor: pointer;
} 